<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script>
        function inserttag(){
            var text=document.getElementById('con');
            text.focus();
            var start=text.selectionStart;
            var end = text.setSelectionRange(2,8);
            console.log(start);
            console.log(end);
            text.selectionStart = 4;  
            text.selectionEnd = 13; 
            // var ss = text.value.substring(start, end);
            // alert(ss);
            //alert(start);
        }
    </script>
    
    <form action="" method="post">
        <textarea name="text" id="con" cols="30"  rows="10">The text selection appears here</textarea>
        <input type="button" onclick="inserttag()" name="sub" value="OK">
    </form>
</body>
</html>